  <!-- Footer -->
  <footer id="footer">
    <div class="footer container">
      <div class="logo">
        <h1><span>Thank You For visiting my webpage</span></h1>
        <p>You can reach me at ↓</p>
      </div>
      <h2>joshan.basgaran@ontariotechu.net</h2>
      <p>Copyright © 2024 J.B. All rights reserved</p>
    </div>
  </footer>
</body>
</html>