<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <title>My Website (J.B)</title>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <!-- Header -->
  <header id="header">
    <div class="header container">
      <div class="navBar">
        <img src="bitmoji.png">
        <div class="logo">
          <h1><span>Mr</span>.<span>JB</span></h1>
        </div>
        <nav class="navList">
          <ul>
            <li><a href="#home" class="navLink"><span>Home</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
