<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM4KPp2DVI2Z4LM5ljKDQ2c5B6xEj8+zjFcdQYN" crossorigin="anonymous" />
  <title>My Website (J.B)</title>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <!-- Header -->
  <header id="header" class="bg-light shadow-sm">
    <div class="container d-flex align-items-center justify-content-between py-3">
      <img src="bitmoji.png" alt="Logo" class="img-fluid" style="max-width: 50px;">
      <h1 class="fs-4 mb-0"><span>Mr</span>.<span>JB</span></h1>
      <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
